In [1]:
# Day 24: Notebook
import sqlite3

In [2]:
conn = sqlite3.connect("database.db")

In [3]:
cursor = conn.cursor()

In [7]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL
)
''')

In [8]:
cursor.execute("INSERT INTO users (name, email) VALUES (?, ?)", ("Alice", "alice@example.com"))

In [9]:
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Alice', 'alice@example.com')

In [11]:
row = cursor.fetchone()

row

In [12]:
cursor.execute("UPDATE users SET name = ? WHERE id = ?", ("Alicia", 1))

In [13]:
cursor.execute("DELETE FROM users WHERE id = ?", (1,))

In [14]:
conn.commit()
conn.close()